{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container main">
        {% include 'Component/_map.html.twig' %}


        {% include 'Component/_board.html.twig' %}

    </div>

{% endblock %}