{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container main">
        {% include 'Component/_map.html.twig' %}


        {% include 'Component/_board.html.twig' %}

    </div>
    {% include 'Component/_MeetModal.html.twig' %}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="/assets/scripts/showMeetModal.js"></script>
{% endblock %}