{% block content %}

    <div class="container.fluid main h-100">
        {% include 'Component/_map.html.twig' %}


        <div class="row justify-content-center h-25">
            <div class="col-3 ">
                <img class="robot" src="/assets/images/persy.png" alt="robot">
            </div>
        </div>

    </div>




{% endblock %}