h1 {
    color: rgba(255, 183, 122, 0.97);
    margin-top : 10px;
    font-size: 1em;
    font-family: 'impact', monospace;
}

.form-connect {
    background-image: url('/assets/images/stars.jpg');
    height: 100%;
    color: rgba(255, 183, 122, 0.97);
}

.btn {
    color: rgba(255, 183, 122, 0.97);
}

.global-container {
    height:100vh;
}

.main {
    position: relative;
    height: calc(100vh - 60px);
}

.map-container {
    background-image: url('/assets/images/map.png');
    background-size: cover;
    background-color: blue;
    height:80%;
}

.mapcell {
    border: solid 1px black;
}

.touche {
    border: solid 1px black;
}

.cellrow {
    height:20%;
}

.board {
    height: 20%;
}

.footer-container {
    height : 30px;
    background-color: red;
}

.header-container {
    height : 30px;
    background-color: #6c3f3f;
}

.robot {
    position: absolute;
    bottom:0;
    margin-left: -30px;
}

.mes-right {
    background: rgba(10, 0, 92, 0.32);
    border-radius: 10px 0px 10px 10px;
}

.mes-right:after {
    content: "";
    position: absolute;
    left:100%;
    top: 0px;
    width: 0;
    height: 0;
    border-left: 18px solid rgba(10, 0, 92, 0.32);
    border-bottom: 18px solid transparent;
}

.enfant {
    position: absolute;
}

.parent {
    position: relative;
}
