
<div class="row map-container container-fluid" id="mapcontent" data-highlightcell={{ alreadyvisited }}>
    {% set nb = 1 %}
    {% for i in 1..5 %}
        <div class="row cellrow">
            {% for j in 1..8 %}
                <div class="col mapcell p-0 h-100" id="cell{{ nb }}">{{ nb }}
                    {% if nb == 4 %}
                        <img src="/assets/images/ingeniosity-unscreen.gif" class="ingeniosity">
                    {% endif %}
                    {% if nb == session.currentPosition %}
                        <img src="/assets/images/icon_rover.png" class="ingeniosity">
                    {% endif %}
                </div>
                {% set nb = nb+1 %}
            {% endfor %}
            <div class="w-100 h-0"></div>
        </div>
    {% endfor %}
</div>



